// Neutrals
$grey50: #f0f0f3;
$grey100: #d2d3db;
$grey200: #b4b5c3;
$grey500: #6a6d85;
$grey600: #5d5f74;
$grey700: #424453;
$grey800: #282932;

// Primary
$primaryLight: #282932;
$primaryMain: #620edf;
$primaryDark: #310770;

// Semantic
$successMain: #00e080;
$warningMain: #ffe500;
$errorMain: #ff4900;

// Shades
$shade00: #fafafa;
$shade100: #191b1f;

$lightBackground: $grey50;
$darkBackground: $grey800;

:export {
  // paper & background
  paper: $shade00;

  // primary
  primaryLight: $primaryLight;
  primaryMain: $primaryMain;
  primaryDark: $primaryDark;

  // success
  successMain: $successMain;

  // error
  errorMain: $errorMain;

  // warning
  warningMain: $warningMain;

  // grey
  grey50: $grey50;
  grey100: $grey100;
  grey200: $grey200;
  grey500: $grey500;
  grey600: $grey600;
  grey700: $grey700;
  grey800: $grey800;

  // paper & background
  darkPaper: $shade100;
  darkBackground: $darkBackground;
  lightBackground: $lightBackground;
}
